extends layout

block content
  .obra-detalle
    h1= obra.titulo
    img(src=obra.imagen, alt=obra.titulo)
    h2 Autor: #{obra.autor}
    h3 Año: #{obra.año}
    p Descripción: #{obra.descripcion}
    a(href='/galeria') Volver a Galería
